body{
    padding: 0;
    margin: 0;
    background-color: rgb(5, 5, 5);
    display: flex;
    color: rgb(194, 194, 194);
    font-size: 20px;
    font-family: 'mifuente';
}
@font-face {
    font-family: 'MiFuente';
    src: url("fuente/Rajdhani-Medium.ttf");
}
/* ---------------SIDE MENU---------------- */
::-webkit-scrollbar{
    background-color:  transparent;
    width: 2px;
}
::-webkit-scrollbar-thumb{
    background-color: #666666;
    border-radius: 6px;
}
.menu{
    background-color: black;
    width: 210px;
    height: 100%;
    position: fixed;
    display: block;  /* block*/
    border-right: rgb(25, 25, 25) solid 3px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.5s;
}
.menu::-webkit-scrollbar{
    background-color: transparent;
    width: 1px;
}
.menu::-webkit-scrollbar-thumb{
    background-color: transparent;
}
.banner{
    height: 130px;
    background-color: rgb(139, 139, 139);
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}
.Cmenu{
    position: absolute;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    text-align: center;
    width: 25px;
    height: 25px;
    margin: 3px;
    cursor: pointer;
}
.Amenu{
    position: fixed;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    text-align: center;
    display: none;
    width: 25px;
    height: 25px;
    margin: 3px;
    cursor: pointer;
}
.menu img{
    width: 180px;
    padding: 10px;
    margin-right: 3px;
}
.opcion{
    position: relative;
    overflow: hidden;
    background: rgba(255,255,255,.04);
    box-shadow: 0 5px 5px rbga(0,0,0.2);
    display: block;
    margin-bottom: 10px;
    padding: 15px;
    text-decoration: none;
    color: white;
    cursor: default;
}
.opcion:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
.opcion:after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(131, 87, 87, 0.3), transparent);
    transition: 0.35s;
}
.opcion:hover:after{
    left: 100%;
}
.opcion span{
    position: absolute;
    display: block;
    transition: 0.35s ease;
}
.opcion span:nth-child(1){
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
}
.opcion:hover span:nth-child(1){
    width: 100%;
    transform: translateX(100%);
}
.opcion span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: #fff;
}
.opcion:hover span:nth-child(3){
    width: 100%;
    transform: translateX(-100%);
}
.opcion span:nth-child(2){
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    background: #fff;
}
.opcion:hover span:nth-child(2){
    height: 100%;
    transform: translateY(100%);
}
.opcion span:nth-child(4){
    bottom: 0;
    right: 0;
    width: 1px;
    height: 0;
    background: #fff;
}
.opcion:hover span:nth-child(4){
    height: 100%;
    transform: translateY(-100%);
}
.opcion a{
    font-size: 18px;
}
.IM_BackUp{
    overflow: hidden;
    height: 57px;
    margin-bottom: 10px;
    transition: all 1s;
    transition-delay: 1s;
}
.IM_BackUp:hover{
    height: 123px;
    transition: all 0.2s;
    transition-delay: 0.2s;
}
.IM_BackUp:hover a{
    background-color: rgb(24, 24, 24);
}

.vacio{
    width: 260px;
    transition: 0.5s;
}
/* ---------------SIDE MENU FIN---------------- */
.contenedorpag{
    width: 100%;
    display: block;
}

.contenedorCuerpo{
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgba(22, 22, 22, 0.712);
}
.cuerpo{
    background-color: rgba(22, 22, 22, 0.712);
    margin: 0x;
}
.cuerpo p{
    padding: 25px;
    margin: 0;
}
.contenedorIM{
    display: block;
    text-align: center;
    padding: 30px;
    margin: 10px;
    transition: 1s;
}
.IM{
    position: relative;
    background-color: rgb(0, 0, 100);
    padding: 30px 20%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 100px;
    transition: 1.5s;
    cursor: default;
}
.contenedorIM a:hover{
    background-color: rgb(0, 0, 219);
    transition: 1s;
    border: rgb(0, 0, 0) 1px solid;
}
.contenedorPersonajes{
    margin: 25px 3px;
}
.grupo{
    display: block;
    padding: auto;
    text-align: center;
}
.personaje{
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: transparent;
    cursor: default;
    transition: 0.5s;
    /*border: yellow 1px solid;*/
}
.personaje:hover{
    color: white;
    transition: 0.5s;
}
.personaje p{
    margin: 0;
    margin-bottom: -30px;
}
/*----------- personajes ----------*/
.imgpersonaje{
    padding-top: 30px;
    width: 250px;
    transition: 0.5s;
    border-radius: 10px;
    opacity: 60%;
}
.imgpersonaje:hover{
    margin-bottom: 50px;
    transition: 0.5s;
    border-radius: 10px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: gray 0px 1px 15px;
}
/*----------- personajes ----------*/

/* ------------- SOMBRAS PERSONAJES ------------------ */
.paff:hover{
    background: linear-gradient(180deg, transparent,rgba(41, 72, 112, 0.7));
    opacity: 100%;
}
.neko:hover{
    background: linear-gradient(180deg, transparent,rgba(121, 34, 56, 0.7));
    opacity: 100%;
}
.robo:hover{
    background: linear-gradient(180deg, transparent,rgba(23, 16, 63, 1));
    opacity: 100%;
}
.lvy:hover{
    background: linear-gradient(180deg, transparent,rgba(75, 0, 0, 1));
    opacity: 100%;
}
.crystal:hover{
    background: linear-gradient(180deg, transparent,rgba(78, 16, 32, 0.9));
    opacity: 100%;
}
.vanesa:hover{
    background: linear-gradient(180deg, transparent,rgb(71, 71, 71, 0.6));
    opacity: 100%;
}
.bobo:hover{
    background: linear-gradient(180deg, transparent,rgba(21, 85, 26, 0.8));
    opacity: 100%;
}
.graff:hover{
    background: linear-gradient(180deg, transparent,rgba(103, 112, 18));
    
}
.alice:hover{
    background: linear-gradient(180deg, transparent,rgba(168, 168, 168, 0.3));
    opacity: 100%;
}
.hans:hover{
    background: linear-gradient(180deg, transparent,rgb(99, 75, 40, 0.9));
    opacity: 100%;
}
.kizuna:hover{
    background: linear-gradient(180deg, transparent,rgb(133, 56, 75));
    opacity: 100%;
}
.miku:hover{
    background: linear-gradient(180deg, transparent,rgb(51, 134, 119, 0.9));
    opacity: 100%;
}
.xenon:hover{
    background: linear-gradient(180deg, transparent,rgb(88, 37, 37, 0.8));
    opacity: 100%;
}
.conner:hover{
    background: linear-gradient(180deg, transparent,rgba(88, 60, 18, 0.8));
    opacity: 100%;
}
.cherry:hover{
    background: linear-gradient(180deg, transparent,rgba(170, 35, 69, 0.9));
    opacity: 100%;
}
.joe:hover{
    background: linear-gradient(180deg, transparent,rgba(54, 9, 58, 0.9));
    opacity: 100%;
}
.sagar:hover{
    background: linear-gradient(180deg, transparent,rgba(112, 47, 10, 0.8));
    opacity: 100%;
}
.rin:hover{
    background: linear-gradient(180deg, transparent,rgba(20, 87, 0, 0.6));
    opacity: 100%;
}
.aroma:hover{
    background: linear-gradient(180deg, transparent,rgba(25, 51, 90, 0.8));
    opacity: 100%;
}
.nora:hover{
    background: linear-gradient(180deg, transparent,rgba(6, 69, 80, 0.8));
    opacity: 100%;
}
.neko2:hover{
    background: linear-gradient(180deg, transparent,rgba(134, 16, 45, 0.8));
    opacity: 100%;
}
/* ------------- SOMBRAS PERSONAJES ------------------ */