body{
    height: 100vh;
    overflow: none;
    margin: 0;
    padding: 0;
}
.pagina{
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
}
section{
    display: flex;
    position: relative;
    text-align: center;
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
}
/*----------------COLORES PERSONAJES------------------*/
.kaf{
    background: linear-gradient(80deg, rgb(134, 9, 124) 40%, black);
}
.ilka{
    background: linear-gradient(80deg, rgb(141, 148, 118) 40%, black);
}
.conner{
    background: linear-gradient(80deg, rgb(177, 75, 17) 40%, black);
}
.aroma{
    background: linear-gradient(80deg, rgb(0, 144, 121) 40%, black);
}
.vanessa{
    background: linear-gradient(80deg, rgb(119, 119, 119) 40%, black);
}
.iyv{
    background: linear-gradient(80deg, rgb(255, 38, 0) 40%, black);
}
/*---------------- FIN COLORES PERSONAJES------------------*/

/*                              seccion 1                      */
.seccion1{
    overflow: hidden;
}
.img_personaje{
    margin: auto 0;
    max-width: 40%;
    height: max-content;
}
.info_personaje{
    padding: 5vh 20%;
}
/*---boton a pagina principal---*/
.volver{
    display: block;
    position: relative;
    overflow: hidden;
    width: 20vh;
    margin: 0 auto;
    border-radius: 40%;
}
.volver img{
    width: 85%;
    border: transparent;
    padding: 10px;
}
.volver p{
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    transform: translateY(30px);
    opacity: 0;
    transition: 0.5s;
}
.volver:hover p{
    transform: translateY(-10px);
    opacity: 1;
}
.volver span{
    position: absolute;
    top: 0;
    left: -20px;
    width: 10px;
    height: 100%;
    transform: rotate(10deg);
    box-shadow: rgba(255, 255, 255, 0.6) -10px 0px 10px;
    animation: sombra 4s infinite;
}

@keyframes sombra {
    85%{
        left: -20px;
    }
    100%{
        left: 120%;
    }
}
/*---FIN boton a pagina principal---*/



/*                        seccion 2                          */
.seccion2{
    background: black;
}
.otros_botones{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px auto;
    margin-left: 20px;
    height: 87%;
}
/*
        para quienes tengan back up system.

<div class="otros_botones">
            <a href="" class="IM_boton" >IM system</a>
            <a href="" class="BU_boton">Back Up System</a>
        </div>


*/
.otros_botones a{
    padding: 15px 3em;
    border-radius: 5vh;
    color: white;
    text-decoration: none;
}
.IM_boton{
    background-color: rgb(0, 173, 173);
}
.BU_boton{
    position: absolute;
    background-color: rgb(126, 0, 138);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.contenedor{
    width: 80%;
    height: 90%;
    margin: 20px auto;
    border: white solid 1px;
    overflow-y: scroll;
}
.contenedor h2{
    margin: 0;
    padding: 4px;
    text-align: left;
    padding-left: 10px;
    background: 
    linear-gradient(90deg, grey , black 50%);
}
.contenedorOS{
    background: rgba(109, 0, 0, 0.4);
    width: 100%;
}
.version{
    display: block;
    position: relative;
    border-top: red solid 1px;
    padding-top: 30px;
    height: 0px;
    overflow: hidden;
}
.version_open{
    min-height: 6em;
    height: auto;
}
.version h3{
    transition: 0.5s;
    position: absolute;
    text-align: left;
    top: 0;
    padding: 3px 10px;
    margin: 0;
    color: red;
    width: 100%;
    cursor: pointer;
}
.version h3 span{
    transition: 0.5s;
    position: absolute;
    width: 10px;
    aspect-ratio: 1;
    right: 40px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    border-right: rgba(255, 255, 255, 0.7) solid 2px;
    border-bottom: rgba(255, 255, 255, 0.7) solid 2px;
}
.version_open h3{
    background: rgb(128, 128, 128, 0.2);
}
.version_open h3 span{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-color: white;
}
.log{
    display: inline-block;
    position: relative;
    width: 7em;
    aspect-ratio: 1;
    margin: 5px;
    border-radius: 10px;
    background: rgba(182, 0, 0, 0.4);
    background-position: top;
    background-size: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}
.log h4{
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 0.9em;
}

/*---- fondos log ----*/
#documento{
    background-image: url(elementosOS/documento.png);
}
#video{
    background-image: url(elementosOS/video.png);
}
#audio{
    background-image: url(elementosOS/audio.png);
}
#mail{
    background-image: url(elementosOS/mail.png);
}
#imagen{
    background-image: url(elementosOS/imagen.png);
}
#chat{
    background-image: url(elementosOS/chat.png);
}
/*---- fin fondos log ----*/
.fondonegro{
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1em);
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    cursor: pointer;
}
.contenido_log{
    position: absolute;
    width: 80%;
    height: 87%;
    text-align: left;
    background: rgb(39, 0, 0);
    border: white solid 2px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    overflow-y: scroll;
    color: red;
    padding-top: 1em;
}
.mostrarFondo{
    opacity: 1;
    pointer-events: all;
}
.seleccionado{
    opacity: 1;
    pointer-events: initial;
}
/*++++++++++++++++++++++++++++        ELEMENTOS DE LOS LOGS       +++++++++++++++++++++++++++++++*/
.contenido_log p{
    font-size: 1.2em;
    cursor: auto;
}
/*  ---  CONTRASEÑA  ---  */
.contraseña{
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(.5em);
    cursor: auto;
}
.contenedor_contraseña{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: black;
    border-top: red 5px solid;
    border-bottom: red 5px solid;
    top: 50%;
    transform: translateY(-50%);
}
.contenedor_contraseña p{
    text-align: center;
}
.contenido_contraseña{
    position: absolute;
    width: 100%;
    height: 13vh;
    border-top: red 2px solid;
    border-bottom: red 2px solid;
    background-color: rgba(255, 0, 0, 0.2);
    top: 50%;
    transform: translateY(-50%);
}
.contenedor_slots{
    display: flex;
    width: min-content;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}
.slot{
    height: 80%;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 5px;
    margin: auto 5px;
    text-align: center;
    font-size: 3em;
    color: rgba(128, 128, 128, 0.01);
    transition: 0.5s;
}
.slot:hover{
    color: gray;
}
.unlock{
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 13px;
    background-color: rgba(255, 0, 0, 0.2);
    border: red 2px solid;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.unlock:hover{
    color: rgba(255, 255, 255);
}
.imagenArchivo{
    width: 20em;
    aspect-ratio: 1.3;
    margin: 1em;
    max-height: 90%;
    max-width: 80%;
    cursor: cell;
    transition: 0.5s;
    transition-delay: 1s;
}
.imagenArchivo:hover{
    width: 40em;
    max-height: 100%;
    max-width: 90%;
    transition-delay: 0.5s;
}

.textobase{
    margin: 0 1em;
    margin-bottom: 1em;
    padding: 8px;
    background: linear-gradient(-90deg, transparent, rgba(0, 0, 0, 0.6));
    color: rgba(255, 255, 255, 0.7);
}
/*documento normal*/
.nameCharacter{
    margin: 1em 1em 0 1em;
    background: linear-gradient(-90deg, black, red);
    color: white;
    padding: 10px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.textCharacter{
    margin: 0 1em 1em 1em;
    background: linear-gradient(-90deg, transparent, black);
    color: white;
    padding: 10px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.sonido{
    margin: 1em;
    background: linear-gradient(-90deg, red, black);
    color: white;
    padding: 10px;
    border-radius: 1em;
}
/*estructura correo*/
.textomail{
    margin: 0 1em;
    padding: 8px;
    background: linear-gradient(-90deg, transparent, rgba(0, 0, 0, 0.6));
    color: rgba(255, 255, 255, 0.7);
}
.textomail p{
    margin: 1px;
    margin-bottom: 4px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.08);
    border: white 1px solid;
}
.textomail div{
    display: flex;
}
.textomail .mailDe{
    width: 50%;
    margin-right: 3px;
}
.textomail .mailPara{
    width: 50%;
}
/*estructura de chat*/

/*
    Estructura de chat para html.

    --ESTRUCTURA DE LA IZQUIERDA--
 
<div class="mensaje_chat">
			<div class="foto_hora">
				<img src="ElementosOS/audio.png" alt="" class="img_perfil_chat">
				<p class="hora"></p>
			</div>
			<div class="contenido_chat">
				<p class="user_name_chat"></p>
				<p class="contenido_mensaje_chat"></p>
			</div>
		</div>


    --ESTRUCTURA DE LA DERECHA-- (parece que el de la derecha no tiene nombre de usuario)

<div class="mensaje_chat">
			<div class="contenido_chat">
				<p class="contenido_mensaje_chat"></p>
			</div>
            			<div class="foto_hora">
				<img src="ElementosOS/audio.png" alt="" class="img_perfil_chat">
				<p class="hora"></p>
			</div>
		</div>

*/
.mensaje_chat{
    display: flex;
    margin: 5px 1em;
    margin-bottom: 2em;
}
.mensaje_chat_derecha{
    text-align: right;
}
.foto_hora{
    text-align: center;
}
.img_perfil_chat{
    width: 3em;
    aspect-ratio: 1;
    height: auto;
    margin: 5px;
}
.contenido_log .hora{
    margin: 0;
    font-size: .8em;
}
.contenido_chat{
    border-left: red solid 2px;
    margin: 0 5px;
    width: 100%;
}
.mensaje_chat_derecha .contenido_chat{
    border-left: none;
    border-right: red solid 2px;
}
.user_name_chat{
    margin: 0;
    background-color: red;
    color: black;
    width: fit-content;
    padding: 5px 10px;
}
.contenido_mensaje_chat{
    margin: 0;
    color: white;
    padding: 10px;
    width: 50%;
}
.mensaje_chat_derecha .contenido_mensaje_chat{
    margin-left: auto;
    margin-right: 0;
}
iframe{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    aspect-ratio: 1.5 / 1;
    max-width: 100%;
    max-height: 100%;
}
/*++++++++++++++++++++++++++++    FIN  ELEMENTOS DE LOS LOGS       +++++++++++++++++++++++++++++++*/


/*^^^^^^^^^^ GLOBALES ^^^^^^^^^^*/
.no_scroll{
    overflow: hidden;
}
.escondido{
    pointer-events: none;
    opacity: 0;
    transition: 3s;
}

/*--------------------------RESPONSIVE-----------------------*/
@media (max-width: 30em){
    .seccion1{
        display: block;
    }
    .otros_botones{
        position: absolute;
        height: 80px;
        margin: 0;
        margin-top: 10px;
        width: 100%;
        align-items: center;
    }
    .otros_botones a{
        width: 50%;
        padding: 0.5em 1em;
    }
    .contenedor{
        margin-top: 100px;
        height: 80%;
    }
    .contenido_contraseña{
        height: 8vh;
    }
    .img_personaje{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100%;
        opacity: 0.75;
    }
    .info_personaje{
        padding: 2vh 10%;
        opacity: 0.999;
    }
    .contenido_mensaje_chat{
        margin: 0;
        color: white;
        padding: 10px;
        width: auto;
    }
}