body{
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
}
section{
    display: flex;
    position: relative;
    text-align: center;
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
}
/*                              seccion 1                      */
.seccion1{
    background-color: rgb(136, 0, 0);
    justify-content: center;
}
.contenedor_info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}
/*---boton a pagina principal---*/
.volver{
    display: block;
    position: relative;
    overflow: hidden;
    width: 20vh;
    margin: 0 auto;
    border-radius: 40%;
}
.volver img{
    width: 85%;
    border: transparent;
    padding: 10px;
}
.volver p{
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    transform: translateY(30px);
    opacity: 0;
    transition: 0.5s;
}
.volver:hover p{
    transform: translateY(-10px);
    opacity: 1;
}
.volver span{
    position: absolute;
    top: 0;
    left: -20px;
    width: 10px;
    height: 100%;
    transform: rotate(10deg);
    box-shadow: rgba(255, 255, 255, 0.6) -10px 0px 10px;
    animation: sombra 4s infinite;
}

@keyframes sombra {
    85%{
        left: -20px;
    }
    100%{
        left: 120%;
    }
}
/*---FIN boton a pagina principal---*/

.texto_info{
    position: relative;
}
/*                        seccion 2                          */
.seccion2{
    background-color: rgb(97, 0, 0);
    justify-content: center;
}
.contenido_2{
    width: 70%;
    height: 95vh;
    color: white;
    margin: auto 0;
}
.contenido_2 a{
    color: white;
    text-decoration: none;
}
.IM_TL{
    display: flex;
    justify-content: center;
}
.IM_TL a{
    padding: 25px 10vh;
    border-radius: 5vh;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 10px;
}
.IM_boton{
    background-color: rgb(0, 173, 173);
}
.TL_boton{
    background-color: purple;
}
.contenedor_personajes{
    display: block;
    bottom: 0;
    max-height: 80vh;
    text-align: center;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.2);
}
.contenedor_personajes div{
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    background: linear-gradient(rgb(29, 29, 29) , transparent);
    padding: 10px;
    cursor: auto;
}
.personaje{
    display: inline-block;
    position: relative;
    width: 30vh;
    margin: 5px;
    background: linear-gradient(black, black);
    border-radius: 5vh;
    transition: 1s;
    cursor: pointer;
    overflow: hidden;
}
.personaje span{
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 1.5s;
}
.personaje h2{
    font-size: 1.4em;
    margin: 0;
    padding: 10px;
    opacity: .5;
    transition: 1.5s;
}
.personaje img{
    transition: 1s;
    width: 100%;
}
/*-----------colores personajes------------------*/
.paff span{
    background: linear-gradient(transparent, rgb(0, 203, 126));
}
.neko span{
    background: linear-gradient(transparent, rgb(255, 20, 212));
}
.robo span{
    background: linear-gradient(transparent, rgb(61, 196, 181));
}
.ivy span{
    background: linear-gradient(transparent, rgb(255, 38, 0));
} 
.crystal span{
    background: linear-gradient(transparent, rgb(145, 6, 44));
}
.vanessa span{
    background: linear-gradient(transparent, rgb(35, 178, 162));
}
.bobo span{
    background: linear-gradient(transparent, rgb(27, 201, 26));
}
.graff span{
    background: linear-gradient(transparent, rgb(230, 236, 17));
}
.kaf span{
    background: linear-gradient(transparent, rgb(226, 16, 208));
}
.alice span{
    background: linear-gradient(transparent, rgb(215, 215, 215));
}
.hans span{
    background: linear-gradient(transparent, rgb(46, 46, 46));
}
.kizuna span{
    background: linear-gradient(transparent, rgb(208, 17, 120));
}
.ilka span{
    background: linear-gradient(transparent, rgb(139, 145, 117));
    }
.miku span{
    background: linear-gradient(transparent, rgb(51, 134, 119));
} 
.xenon span{
    background: linear-gradient(transparent, rgb(88, 37, 37));
}
.conner span{
    background: linear-gradient(transparent, rgb(153, 103, 28));
}
.cherry span{
    background: linear-gradient(transparent, rgb(215, 34, 79));
}
.joe span{
    background: linear-gradient(transparent, rgb(54, 9, 58));
}
.sagar span{
    background: linear-gradient(transparent, rgb(159, 126, 69));
}
.rin span{
    background: linear-gradient(transparent, rgb(20, 87, 0));
}
.aroma span{
    background: linear-gradient(transparent, rgb(0, 144, 121));
}
.nora span{
    background: linear-gradient(transparent, rgb(6, 69, 80));
}
.neko2 span{
    background: linear-gradient(transparent, rgb(170, 74, 162));
}

/*-----------FIN colores personajes------------------*/
.personaje:hover span{
    top: 20%;
    transition-delay: 0.3s;
}
.personaje:hover h2{
    transition: 1s;
    opacity: 1;
}
.personaje:hover img{
    transition-delay: 0.3s;
    animation: flotar 3s alternate infinite ease-in;
}

@keyframes flotar{
    100%{
        transform: translateY(10px);
    }
}


/*--------------------------RESPONSIVE-----------------------*/
@media (max-width: 30em){
    .IM_TL a{
        padding: 10px 7vh;
    }
}
