*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: block;
    height: 100vh;
    /*background-image: url(giphy.webp);
    background-repeat: no-repeat;
    background-size: 100%;*/
}

/*  contenedor partes */

.contenedor{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.contenedor::-webkit-scrollbar{
    width: 0px;
}
.parte{
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

/*-----------parte A------------*/
.parteA{
    background: linear-gradient(30deg, rgb(31, 31, 31), rgb(43, 43, 43), rgb(15, 15, 15), rgb(31, 31, 31));
    /*background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(0.3em);*/
}
.parteA .horizontal{
    min-width: 300px;
    width: 40%;
    transition: 1s;
    animation: bounce 3s infinite alternate;
}

@keyframes bounce {
    100%{
        transform: translateY(-40px);
        transition: ease;
    }
}

.parteA .vertical{
    display: none;
}

.parteA .pistaScroll{
    position: absolute;
    width: 35px;
    height: 60px;
    bottom: 20px;
}
.pistaScroll::before{
    content: '';
    position: absolute;
    width: 15px;
    aspect-ratio: 1;
    top: 20%;
    left: 50%;
    border-bottom: solid rgba(255, 255, 255, 0.5) 2px;
    border-right: solid rgba(255, 255, 255, 0.5) 2px;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: pista 1.5s ease-in-out infinite;
}
@keyframes pista{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}
/*-----------parte B------------*/
.parteB{
    background: linear-gradient(-20deg, rgb(117, 0, 0), rgb(65, 0, 0), rgb(65, 0, 0), rgb(90, 0, 0)) ;
    overflow: hidden;
}
.animacion{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
}
.animacion span{
    position: absolute;
    height: 200%;
    width: 3px;
}
.ani1{
    transform: translateX(-220px);
    animation: animar 80s linear infinite;
    animation-delay: -30s;
}
.ani1 span{
    background: black;
    transform: rotate(20deg);
    left: 100px;
}
.ani2{
    transform: translateX(-110px);
    animation: animar 50s linear infinite;
    animation-delay: -25s;
}
.ani2 span{
    background: rgb(92, 0, 0);
    transform: rotate(10deg);
    left: 50px;
}
.ani3{
    transform: translateX(-340px);
    animation: animar 65s linear infinite;
    animation-delay: -30s;
}
.ani3 span{
    background: rgb(170, 0, 0);
    transform: rotate(-30deg);
    left: 150px;
}
.ani4{
    transform: translateX(-290px);
    animation: animar 34s linear infinite;
    animation-delay: -23s;
}
.ani4 span{
    background: rgb(46, 0, 0);
    transform: rotate(-20deg);
    left: 170px;
}
.ani5{
    transform: translateX(-260px);
    animation: animar 47s linear infinite;
    animation-delay: -5s;
}
.ani5 span{
    background: rgb(78, 0, 0);
    transform: rotate(-10deg);
    left: 200px;
}
.ani6{
    transform: translateX(-260px);
    animation: animar 70s linear infinite;
    animation-delay: -5s;
    
}
.ani6 span{
    background: rgb(43, 0, 0);
    transform: rotate(-14deg);
    left: 200px;
}
.ani7{
    transform: translateX(-360px);
    animation: animar 65s linear infinite;
    animation-delay: 20s;
    
}
.ani7 span{
    background: rgb(95, 0, 0);
    transform: rotate(-25deg);
    left: 200px;
}
.ani8{
    transform: translateX(-380px);
    animation: animar 80s linear infinite;
    animation-delay: 10s;
    
}
.ani8 span{
    background: rgb(24, 0, 0);
    transform: rotate(28deg);
    left: 200px;
}
@keyframes animar {
    100%{
        transform: translateX(100%);
    }
}

.parteB .contenedorTexto{
    text-align: center;
    width: 50%;
    color: white;
    position: relative;
    overflow: hidden;
}

/*-----------parte C------------*/
.parteC{
    display: block;
    background: chartreuse;
    text-align: center;
}
.parteC h2{
    margin: 0;
    padding-top: 10vh;
    padding-bottom: 5vh;
}
.sidescroll{
    display: block;
    white-space: nowrap;
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

/*
.sidescroll::-webkit-scrollbar{
    background: transparent;
    height: 25px;
}
.sidescroll::-webkit-scrollbar-track{
    border-left: black 180px solid;
    border-right: red 180px solid;
}
*/

/*-----------------RESPONSIVE-----------------*/
@media (max-width: 25em){

    .contenedor{
        scroll-snap-type: y proximity;
    }

    .parteA .horizontal{
        display: none;
    }
    .parteA .vertical{
        display: block;
        height: 50%;
        animation: bounce 3s infinite alternate;
    }

}

.elemento{
    display: inline-block;
    width: 300px;
    height: 98%;
    margin: 0 150px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.082);
    text-decoration: none;
    color: black;
    scroll-snap-align: center;
    cursor: default;
}
.cytus{
    background: rgb(196, 0, 0);
}
.MO{
    background: rgb(0, 131, 175);
}
.deemo{
    background: #8b4513;
}
.Einicio{
    margin-left: 500px;
}
.Efinal{
    margin-right: 500px;
}