* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    height: 100vh;
    /*background-image: url(giphy.webp);
    background-repeat: no-repeat;
    background-size: 100%;*/
}


/*  contenedor partes */

.contenedor {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.parte {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}


/*-----------parte A------------*/

.parteA {
    background: linear-gradient(30deg, rgb(31, 31, 31), rgb(43, 43, 43), rgb(15, 15, 15), rgb(31, 31, 31));
    /*background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(0.3em);*/
}

.parteA .horizontal {
    min-width: 300px;
    width: 40%;
    transition: 1s;
    animation: bounce 3s infinite alternate;
}

@keyframes bounce {
    100% {
        transform: translateY(-40px);
        transition: ease;
    }
}

.parteA .vertical {
    display: none;
}

.parteA .pistaScroll {
    position: absolute;
    width: 35px;
    height: 60px;
    bottom: 20px;
    /* onclick scroll parte B*/
}

.pistaScroll::before {
    content: '';
    position: absolute;
    width: 15px;
    aspect-ratio: 1;
    top: 20%;
    left: 50%;
    border-bottom: solid rgba(255, 255, 255, 0.5) 2px;
    border-right: solid rgba(255, 255, 255, 0.5) 2px;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: pista 1.5s ease-in-out infinite;
}

@keyframes pista {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}


/*-----------parte B------------*/

.parteB {
    background: linear-gradient(-20deg, rgb(117, 0, 0), rgb(65, 0, 0), rgb(65, 0, 0), rgb(90, 0, 0));
    overflow: hidden;
}

.animacion {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
}

.animacion span {
    position: absolute;
    height: 200%;
    width: 3px;
}

.ani1 {
    transform: translateX(-220px);
    animation: animar 80s linear infinite;
    animation-delay: -30s;
}

.ani1 span {
    background: black;
    transform: rotate(20deg);
    left: 100px;
}

.ani2 {
    transform: translateX(-110px);
    animation: animar 50s linear infinite;
    animation-delay: -25s;
}

.ani2 span {
    background: rgb(92, 0, 0);
    transform: rotate(10deg);
    left: 50px;
}

.ani3 {
    transform: translateX(-340px);
    animation: animar 65s linear infinite;
    animation-delay: -30s;
}

.ani3 span {
    background: rgb(170, 0, 0);
    transform: rotate(-30deg);
    left: 150px;
}

.ani4 {
    transform: translateX(-290px);
    animation: animar 34s linear infinite;
    animation-delay: -23s;
}

.ani4 span {
    background: rgb(46, 0, 0);
    transform: rotate(-20deg);
    left: 170px;
}

.ani5 {
    transform: translateX(-260px);
    animation: animar 47s linear infinite;
    animation-delay: -5s;
}

.ani5 span {
    background: rgb(78, 0, 0);
    transform: rotate(-10deg);
    left: 200px;
}

.ani6 {
    transform: translateX(-260px);
    animation: animar 70s linear infinite;
    animation-delay: -5s;
}

.ani6 span {
    background: rgb(43, 0, 0);
    transform: rotate(-14deg);
    left: 200px;
}

.ani7 {
    transform: translateX(-360px);
    animation: animar 65s linear infinite;
    animation-delay: 20s;
}

.ani7 span {
    background: rgb(95, 0, 0);
    transform: rotate(-25deg);
    left: 200px;
}

.ani8 {
    transform: translateX(-380px);
    animation: animar 80s linear infinite;
    animation-delay: 10s;
}

.ani8 span {
    background: rgb(24, 0, 0);
    transform: rotate(28deg);
    left: 200px;
}

@keyframes animar {
    100% {
        transform: translateX(100%);
    }
}

.parteB .contenedorTexto {
    text-align: center;
    width: 50%;
    color: white;
    position: relative;
    overflow: hidden;
}


/*-----------parte C------------*/

.parteC {
    display: block;
    background-color: rgb(20, 20, 20);
    text-align: center;
}

.parteC h2 {
    color: white;
}

/* ---      carrusel    ---*/

.carrusel {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 85%;
    min-width: 210px;
    left: 50%;
    bottom: 6vh;
    transform: translateX(-50%);
}

.contenedor_track_carrusel {
    height: 100%;
    overflow: hidden;
}

.carrusel_track {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}


/* slide elementos  < < < < < < < < < */

.carrusel_slide {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    border-radius: 50px;
    transition: 0.7s;
    transition-delay: 0.15s;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: calc(100% + 0px);
    animation: fondoanimar 3s alternate infinite ease-in-out;
}

.contenido {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    width: 100%;
    height: 100%;
    top: 0;
}

.contenido div {
    display: block;
}

.cytus {
    background-image: url(elementos_PRINCIPAL/cytusHorizontal.jpg);
}

.contCytus {
    background: linear-gradient(rgb(202, 0, 0) 20%, transparent);
}

.deemo {
    background-image: url(elementos_PRINCIPAL/deemo_imagen.jpg);
}

.contDeemo {
    background: linear-gradient(#8b4513 20%, transparent);
}

.MO {
    background-image: url(elementos_PRINCIPAL/giphy.webp);
}

.contMo {
    background: linear-gradient(rgb(0, 131, 175) 20%, transparent);
}

.proyecto {
    background-color: rgba(0, 0, 0, 0.1);
}

.contenido h3 {
    padding: 3px;
}

.contenido p {
    margin-top: 0;
    padding: 3px 10px;
    opacity: 0;
    transition: 1s;
    margin-bottom: 10px;
}

.contenido a {
    position: relative;
    display: inline-block;
    width: 10em;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 1em;
    border: black solid 3px;
    color: rgb(216, 216, 216);
    text-decoration: none;
    overflow: hidden;
}

.contenido a span {
    position: absolute;
    top: 0;
    left: -20px;
    width: 10px;
    height: 100%;
    transform: rotate(10deg);
    box-shadow: rgba(255, 255, 255, 0.6) -10px 0px 10px;
    animation: sombra 4s infinite;
}

@keyframes sombra {
    85% {
        left: -20px;
    }
    100% {
        left: 120%;
    }
}

.slide_acutal p {
    opacity: 1;
    backdrop-filter: blur(0.1em);
    transition-delay: 1s;
}

@keyframes fondoanimar {
    100% {
        background-position-y: calc(100% + 10px);
    }
}


/* FIN slide elementos  < < < < < < < < < */

.boton_carrusel {
    position: absolute;
    top: 50%;
    width: 80px;
    height: 140px;
    transform: translateY(-50%);
    border: 0;
    cursor: pointer;
    transition: 1s;
}

.boton_carrusel span {
    position: absolute;
    width: 30px;
    aspect-ratio: 1;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.boton_oculto {
    opacity: 0;
    pointer-events: none;
    transform: translateY(20%);
}

.boton_izquierda {
    background: linear-gradient(-90deg, transparent 10%, rgba(128, 128, 128, 0.5) 80%, rgba(0, 0, 0, 0.7));
    left: 0;
    z-index: 9999;
}

.boton_izquierda span {
    left: 35px;
    border-left: white solid 2px;
    border-bottom: white solid 2px;
    animation: flechasAnimar 7s alternate infinite ease-in-out;
}

.boton_derecha {
    background: linear-gradient(90deg, transparent 10%, rgba(128, 128, 128, 0.5) 80%, rgba(0, 0, 0, 0.7));
    right: 0;
    z-index: 9999;
}

.boton_derecha span {
    right: 30px;
    border-top: white solid 2px;
    border-right: white solid 2px;
    animation: flechasAnimar 7s alternate infinite ease-in-out;
}

@keyframes flechasAnimar {
    100% {
        transform: translateY(-50%) translateX(-10px) rotate(45deg);
    }
}

.navegador_carrusel {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 5vh;
}

.indicador_carrusel {
    border: white 1px solid;
    width: 5vh;
    height: 5vh;
    background: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
    color: transparent;
}

.indicador_actual {
    border: white 1px solid;
    background: rgba(255, 255, 255);
    width: 30vh;
    color: black;
}

.navegador_carrusel button {
    padding: 0;
    margin: 0;
}


/*-----------------RESPONSIVE-----------------*/

@media (max-width: 30em) {
    .contenedor {
        scroll-snap-type: y mandatory;
    }
    /*---- PARTE A ----*/
    .parteA .horizontal {
        display: none;
    }
    .parteA .vertical {
        display: block;
        height: 40%;
        animation: bounce 3s infinite alternate;
    }
    /*---- PARTE C -----*/
    /*   carrusel   */
    @keyframes flechasAnimar {
        100% {
            transform: translateY(-50%) translateX(-5px) rotate(45deg);
        }
    }
    .contenido {
        font-size: 0.8em;
    }
    .contenido p {
        margin-top: 1em;
    }
    .indicador_actual {
        width: 20vh;
        color: black;
    }
    .cytus {
        background-image: url(elementos_PRINCIPAL/cytus_2_logo.png);
    }
    .boton_carrusel {
        width: 40px;
        height: 90px;
    }
    .boton_izquierda span {
        left: 17px;
    }
    .boton_derecha span {
        right: 15px;
    }
}